@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body,
p {
  padding: 0;
  margin: 0;
}

body {
  background: #272726;
}

div#remote-media {
  height: 43%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

div#remote-media video {
  border: 1px solid #272726;
  margin: 3em 2em;
  height: 70%;
  max-width: 27% !important;
  background-color: #272726;
  background-repeat: no-repeat;
}

div#controls {
  padding: 3em;
  max-width: 1200px;
  margin: 0 auto;
}

div#controls div {
  float: left;
}

div#controls div#room-controls,
div#controls div#preview {
  width: 16em;
  margin: 0 1.5em;
  text-align: center;
}

div#controls p.instructions {
  text-align: left;
  margin-bottom: 1em;
  font-family: Helvetica-LightOblique, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 1.25em;
  color: #777776;
}

div#controls button {
  width: 15em;
  height: 2.5em;
  margin-top: 1.75em;
  border-radius: 1em;
  font-family: "Helvetica Light", Helvetica, sans-serif;
  font-size: .8em;
  font-weight: lighter;
  outline: 0;
}

div#controls div#room-controls input {
  font-family: Helvetica-LightOblique, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 1em;
}

div#controls button:active {
  position: relative;
  top: 1px;
}

div#controls div#preview div#local-media {
  width: 270px;
  height: 202px;
  border: 1px solid #cececc;
  box-sizing: border-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjgwcHgiIGhlaWdodD0iODBweCIgdmlld0JveD0iMCAwIDgwIDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjEgKDEyMDAyKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5GaWxsIDUxICsgRmlsbCA1MjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiPgogICAgICAgIDxnIGlkPSJjdW1tYWNrIiBza2V0Y2g6dHlwZT0iTVNMYXllckdyb3VwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTU5LjAwMDAwMCwgLTE3NDYuMDAwMDAwKSIgZmlsbD0iI0ZGRkZGRiI+CiAgICAgICAgICAgIDxnIGlkPSJGaWxsLTUxLSstRmlsbC01MiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTU5LjAwMDAwMCwgMTc0Ni4wMDAwMDApIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj4KICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0zOS42ODYsMC43MyBDMTcuODUsMC43MyAwLjA4NSwxOC41IDAuMDg1LDQwLjMzIEMwLjA4NSw2Mi4xNyAxNy44NSw3OS45MyAzOS42ODYsNzkuOTMgQzYxLjUyMiw3OS45MyA3OS4yODcsNjIuMTcgNzkuMjg3LDQwLjMzIEM3OS4yODcsMTguNSA2MS41MjIsMC43MyAzOS42ODYsMC43MyBMMzkuNjg2LDAuNzMgWiBNMzkuNjg2LDEuNzMgQzYxLjAwNSwxLjczIDc4LjI4NywxOS4wMiA3OC4yODcsNDAuMzMgQzc4LjI4Nyw2MS42NSA2MS4wMDUsNzguOTMgMzkuNjg2LDc4LjkzIEMxOC4zNjcsNzguOTMgMS4wODUsNjEuNjUgMS4wODUsNDAuMzMgQzEuMDg1LDE5LjAyIDE4LjM2NywxLjczIDM5LjY4NiwxLjczIEwzOS42ODYsMS43MyBaIiBpZD0iRmlsbC01MSI+PC9wYXRoPgogICAgICAgICAgICAgICAgPHBhdGggZD0iTTQ3Ljk2LDUzLjMzNSBMNDcuOTYsNTIuODM1IEwyMC4wOTMsNTIuODM1IEwyMC4wOTMsMjcuODI1IEw0Ny40NiwyNy44MjUgTDQ3LjQ2LDM4LjI1NSBMNTkuMjc5LDMwLjgwNSBMNTkuMjc5LDQ5Ljg1NSBMNDcuNDYsNDIuNDA1IEw0Ny40Niw1My4zMzUgTDQ3Ljk2LDUzLjMzNSBMNDcuOTYsNTIuODM1IEw0Ny45Niw1My4zMzUgTDQ4LjQ2LDUzLjMzNSBMNDguNDYsNDQuMjE1IEw2MC4yNzksNTEuNjY1IEw2MC4yNzksMjguOTk1IEw0OC40NiwzNi40NDUgTDQ4LjQ2LDI2LjgyNSBMMTkuMDkzLDI2LjgyNSBMMTkuMDkzLDUzLjgzNSBMNDguNDYsNTMuODM1IEw0OC40Niw1My4zMzUgTDQ3Ljk2LDUzLjMzNSIgaWQ9IkZpbGwtNTIiPjwvcGF0aD4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

div#controls div#preview div#local-media video {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

div#controls div#preview button#button-preview {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE3cHgiIGhlaWdodD0iMTJweCIgdmlld0JveD0iMCAwIDE3IDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICAgIDwhLS0gR2VuZXJhdG9yOiBTa2V0Y2ggMy4zLjEgKDEyMDAyKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5GaWxsIDM0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICAgICAgPGcgaWQ9ImN1bW1hY2siIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjUuMDAwMDAwLCAtMTkwOS4wMDAwMDApIiBmaWxsPSIjMEEwQjA5Ij4KICAgICAgICAgICAgPHBhdGggZD0iTTEzNi40NzEsMTkxOS44NyBMMTM2LjQ3MSwxOTE5LjYyIEwxMjUuNzY3LDE5MTkuNjIgTDEyNS43NjcsMTkxMC4wOCBMMTM2LjIyMSwxOTEwLjA4IEwxMzYuMjIxLDE5MTQuMTUgTDE0MC43ODUsMTkxMS4yNyBMMTQwLjc4NSwxOTE4LjQyIEwxMzYuMjIxLDE5MTUuNTUgTDEzNi4yMjEsMTkxOS44NyBMMTM2LjQ3MSwxOTE5Ljg3IEwxMzYuNDcxLDE5MTkuNjIgTDEzNi40NzEsMTkxOS44NyBMMTM2LjcyMSwxOTE5Ljg3IEwxMzYuNzIxLDE5MTYuNDUgTDE0MS4yODUsMTkxOS4zMyBMMTQxLjI4NSwxOTEwLjM3IEwxMzYuNzIxLDE5MTMuMjQgTDEzNi43MjEsMTkwOS41OCBMMTI1LjI2NywxOTA5LjU4IEwxMjUuMjY3LDE5MjAuMTIgTDEzNi43MjEsMTkyMC4xMiBMMTM2LjcyMSwxOTE5Ljg3IEwxMzYuNDcxLDE5MTkuODciIGlkPSJGaWxsLTM0IiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4=)1em center no-repeat #fff;
  border: none;
  padding-left: 1.5em;
}

div#controls div#log {
  border: 1px solid #686865;
}

div#controls div#room-controls {
  display: none;
}

div#controls div#room-controls input {
  width: 100%;
  height: 2.5em;
  padding: .5em;
  display: block;
}

div#controls div#room-controls button {
  color: #fff;
  background: 0 0;
  border: 1px solid #686865;
}

div#controls div#room-controls button#button-leave {
  display: none;
}

div#controls div#log {
  width: 35%;
  height: 9.5em;
  margin-top: 2.75em;
  text-align: left;
  padding: 1.5em;
  float: right;
  overflow-y: scroll;
}

div#controls div#log p {
  color: #686865;
  font-family: 'Share Tech Mono', 'Courier New', Courier, fixed-width;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-left: 1em;
  text-indent: -1.25em;
  width: 90%;
}


header.navigation {
  background-color: #7643BB;
  width: 100%;
  z-index: 1000; }
  header.navigation a {
    font-family: "Avenir", sans-serif; }
  header.navigation .navigation-wrapper {
    height: 80px;
    position: relative; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    background-image: url("../assets/img/wp_logo.png");
    background-image: url("../assets/img/wp_logo.png");
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-size: 100%;
    color: #91E2ED;
    cursor: pointer;
    float: left;
    margin: 15px 30px 15px 15px;
    height: 50px;
    width: 226.06383px; }
    @media screen and (max-width: 690px) {
      header.navigation .logo {
        margin-top: 19.5px;
        height: 37.5px;
        width: 169.54787px; } }
  header.navigation nav {
    float: none;
    min-height: 80px;
    z-index: 10000; }
  header.navigation ul.navigation-menu {
    width: 100%;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 10001; }
    header.navigation ul.navigation-menu li:last-child {
      margin-right: 0; }
  header.navigation i.fa {
    margin: 1em 0.25em 0 0; }
  header.navigation .nav-link {
    display: block;
    font-size: 1.25em;
    line-height: 80px;
    margin: 0 -5px;
    text-align: center;
    width: 100%; }
    header.navigation .nav-link a {
      color: #F4F4F4;
      display: inline-block;
      text-decoration: none; }
    header.navigation .nav-link:focus, header.navigation .nav-link:hover {
      background-color: #5e3695;
      color: #FFF; }
    header.navigation .nav-link.active {
      background-color: #5e3695; }
      header.navigation .nav-link.active a {
        padding-bottom: 3px; }
    header.navigation .nav-link.sign-out {
      background-color: #5e3695;
      cursor: pointer;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0; }
    header.navigation .nav-link.navigation-menu-toggle {
      background-color: #5e3695;
      color: #F4F4F4;
      cursor: pointer;
      margin: 0;
      padding-left: 40px;
      padding-right: 40px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      width: auto;
      z-index: 10001; }
      header.navigation .nav-link.navigation-menu-toggle:focus, header.navigation .nav-link.navigation-menu-toggle:hover {
        color: #FFF; }
      header.navigation .nav-link.navigation-menu-toggle i.fa {
        margin-right: 0; }
  header.navigation .sign-in {
    background-color: #5e3695;
    color: #FFF;
    margin-top: -webkit-calc(80px / 2 - 1em - 0.5em);
    margin-top: calc(80px / 2 - 1em - 0.5em);
    float: right; }
    header.navigation .sign-in:hover, header.navigation .sign-in:focus {
      background-color: #4b2b77;
      color: #FFF; }
    header.navigation .sign-in:disabled:hover {
      background-color: #5e3695; }
    header.navigation .sign-in i.fa {
      color: #FFF; }
    @media screen and (max-width: 690px) {
      header.navigation .sign-in {
        margin: 0.25em;
        padding: 1em;
        width: auto; } }
  @media screen and (min-width: 930px) {
    header.navigation .navigation-wrapper {
      margin-left: 226.06383px;
      width: calc(100% - $logo-width); }
    header.navigation nav {
      float: left; }
    header.navigation ul.navigation-menu {
      display: inline-block;
      height: 80px;
      margin: 0;
      padding: 0; }
    header.navigation .nav-link {
      background: transparent;
      display: inline-block;
      height: 80px;
      line-height: 80px;
      padding-left: 2em;
      padding-right: 2em;
      width: auto; }
      header.navigation .nav-link.sign-out {
        position: absolute; }
    header.navigation .navigation-menu-toggle {
      display: none; } }
  @media screen and (max-width: 930px) {
    header.navigation .navigation-wrapper {
      margin-left: 226.06383px;
      width: calc(100% - $logo-width); }
    header.navigation nav {
      width: 100%;
      margin-top: 80px;
      margin-left: -226.06383px;
      width: 100vw; }
      header.navigation nav ul.navigation-menu {
        width: 100%;
        background-color: #5e3695;
        display: block; }
      header.navigation nav:not(.expanded) {
        display: none; }
    header.navigation .nav-link {
      width: 100%;
      display: block; }
      header.navigation .nav-link a {
        width: 100%; }
      header.navigation .nav-link.active {
        background: none; }
      header.navigation .nav-link.sign-out {
        position: relative; }
    header.navigation nav {
      height: -webkit-calc(100vh - 160px);
      height: calc(100vh - 160px); }
    header.navigation .nav-link:not(.navigation-menu-toggle) {
      height: -webkit-calc((100vh - 160px) / 4);
      height: calc((100vh - 160px) / 4); }
      header.navigation .nav-link:not(.navigation-menu-toggle) a {
        height: -webkit-calc((100vh - 160px) / 4);
        height: calc((100vh - 160px) / 4);
        padding-top: -webkit-calc(((100vh - 160px) / 4 - 80px) / 2);
        padding-top: calc(((100vh - 160px) / 4 - 80px) / 2);
        font-size: 1.75em; }
        header.navigation .nav-link:not(.navigation-menu-toggle) a i {
          margin-top: 0.25em; } }

footer {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  width: 100%; }
  footer span {
    margin-top: -webkit-calc(80px / 2 - 0.75em);
    margin-top: calc(80px / 2 - 0.75em);
    display: inline-block; }
    footer span.links {
      display: block;
      font-size: 0.9em;
      margin-top: -0.5em; }
      footer span.links a {
        color: rgba(244, 244, 244, 0.75);
        cursor: pointer; }
  footer.footer {
    background-color: #333;
    min-height: 80px;
    font-size: 1.25em;
    font-family: "Avenir", sans-serif;
    position: fixed;
    bottom: 0; }
    footer.footer span:first-of-type {
      margin-top: -webkit-calc(80px / 2 - 1.1em);
      margin-top: calc(80px / 2 - 1.1em); }

